@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Nabla&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: #d9afd9;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");


  h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
}

.cielo {
  width: 100%;
  height: 70vh;
  background-color: #ffe15d;
}
.mesa {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #ffb100;
}
.clavo {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 20px;
  left: 52%;
  background-color: #86a3b8;
  border-radius: 50%;
  border: 2px solid black;
  transform: translateX(-50px) rotate(-15deg);
}
.sombra-clavo {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 20px;
  left: 52%;
  background-color: #86a3b8;
  border-radius: 50%;
  transform: translateX(-50px) rotate(-15deg);
}
.cuerpo-clavo {
  position: absolute;
  top: 30px;
  width: 10px;
  height: 20px;
  left: 52%;
  background-color: #86a3b8;
  border-right: 4px solid black;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  transform: translateX(-60px) rotate(45deg);
}
.cuerda-cuadro {
  position: absolute;
  top: 38px;
  left: 52%;
  width: 0px;
  height: 0px;
  border-bottom: 80px solid #665a48;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  transform: translateX(-150px) rotate(-15deg);
  animation: valanceocuerda 5s infinite;
}
@keyframes valanceocuerda{
  0%{transform: translateX(-150px) rotate(-15deg);}
  50% { transform: translateX(-170px) rotate(15deg);}
  100%{transform: translateX(-150px) rotate(-15deg);}
}

.cuerda-cuadro-interno {
  position: absolute;
  top: 42px;
  left: 52%;
  width: 0px;
  height: 0px;
  border-bottom: 80px solid #ffe15d;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  transform: translateX(-149px) rotate(-15deg);
  animation: valanceocuerda 5s infinite;
}
.cuadro {
  position: absolute;
  top: 145px;
  left: 50%;
  width: 320px;
  height: 200px;
  background-color: #ecf2ff;
  border: 18px solid #aa8b56;
  border-radius: 20px;
  outline: 4px solid #665a48;
  color: red;
  vertical-align: middle;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: valanceo 5s infinite ;
}
@keyframes valanceo{
  0%{transform: rotate(-15deg) translateX(calc(50% - 330px)) translateY(-80px)}
  50%{transform:  rotate(15deg) translateX(calc(50% - 460px)) translateY(35px)}
  100%{transform: rotate(-15deg) translateX(calc(50% - 330px))translateY(-80px)}
}
.maceta-central {
  position: relative;
  top: 30px;
  width: 120px;
  height: 100px;
  border: 4px solid #665a48;
  background-color: #c27664;
  border-bottom-left-radius: 15% 40%;
  border-bottom-right-radius: 15% 40%;
}
.maceta-central-top {
  position: relative;
  top: -4px;
  width: 140px;
  height: 30px;
  right: 15px;
  border: 4px solid #665a48;
  background-color: #c27664;
  border-radius: 10px;
}
.maceta-izq{
  left:90px ;
}
.cactus-cero {
  position: relative;
  top: -250px;
  left: -60px;
  width: 250px;
  height: 250px;
  background-color: #9cff2e;
  border-radius: 50%;
  border: 4px solid #367e18;
}
.interno-cactus {
  position: absolute;
  top: -4px;
  left: 70px;
  width: 100px;
  height: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #367e18;
}
.pinchos-cactus-cero {
  position: absolute;
  top: -4px;
  left: 70px;
  width: 100px;
  height: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #367e18;
}
.cactus-pincho {
  position: absolute;
  top: 125px;
  left: -20px;
  width: 20px;
  height: 4px;
  background-color: #367e18;
}
.ext1 {
  top: 37px;
  left: 7px;
  transform: rotate(36deg);
}
.ext2 {
  top: -9px;
  left: 70px;
  transform: rotate(72deg);
}
.ext3 {
  top: -10px;
  left: 155px;
  transform: rotate(108deg);
}
.ext4 {
  top: 45px;
  left: 225px;
  transform: rotate(144deg);
}
.ext5 {
  top: 130px;
  left: 250px;
  transform: rotate(180deg);
}
.ext6 {
  top: 220px;
  left: 210px;
  transform: rotate(216deg);
}
.ext7 {
  top: 260px;
  left: 140px;
  transform: rotate(252deg);
}
.ext8 {
  top: 250px;
  left: 65px;
  transform: rotate(288deg);
}
.inter9 {
  top: 200px;
  left: 0px;
  transform: rotate(324deg);
}
.inter0 {
  top: 125px;
  left: -22px;
  transform: rotate(360deg);
}
.inter1 {
  width: 30px;
  top: 55px;
  left: 65px;
  transform: rotate(3deg);
}
.inter2 {
  width: 30px;
  top: 30px;
  left: 145px;
  transform: rotate(-5deg);
}
.inter3 {
  width: 30px;
  top: 120px;
  left: 55px;
  transform: rotate(0deg);
}
.inter4 {
  width: 30px;
  top: 170px;
  left: 60px;
  transform: rotate(-5deg);
}
.inter5 {
  width: 30px;
  top: 220px;
  left: 75px;
  transform: rotate(-3deg);
}
.inter6 {
  width: 30px;
  top: 195px;
  left: 152px;
  transform: rotate(3deg);
}
.inter7 {
  width: 30px;
  top: 150px;
  left: 160px;
  transform: rotate(5deg);
}
.inter8 {
  width: 30px;
  top: 80px;
  left: 160px;
  transform: rotate(-5deg);
}
.cactus-izq {
  position: relative;
  top: -280px;
  left: 15px;
  width: 80px;
  height: 235px;
  background: #9cff2e;
  border: 4px solid #367e18;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}
.cactus-part1 {
  position: relative;
  top: 90px;
  left: -108px;
  width: 100px;
  height: 50px;
  background-color: #9cff2e;
  border: 4px solid #367e18;
  border-bottom-left-radius: 30px;
}
.cactus-part2 {
  position: relative;
  top: -58px;
  left: -108px;
  width: 50px;
  height: 90px;
  background-color: #9cff2e;
  border: 4px solid #367e18;
  border-bottom: #9cff2e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.pincho-base {
  position: relative;
  top: -90px;
  left: -22px;
  width: 20px;
  height: 4px;
  background-color: #367e18;
}
.base1 {
  top: -162px;
  left: 0px;
  transform: rotate(45deg);
}
.base2 {
  top: -160px;
  left: 65px;
  transform: rotate(130deg);
}
.base3 {
  top: -85px;
  left: 83px;
}
.base4 {
  top: -20px;
  left: 83px;
}
.base5 {
  left: 83px;
  top: 45px;
}
.base6 {
  top: 15px;
}
.base7 {
  top: 60px;
  left: 40px;
  transform: rotate(90deg);
}
.base8 {
  top: 35px;
  left: -20px;
  transform: rotate(-25deg);
}
.base9 {
  top: 70px;
}
.base10 {
  top: -4px;
  left: -14px;
  transform: rotate(35deg);
}
.base11 {
  top: 15px;
  left: 54px;
}
.addmission_form{
  background: url(../public/hero.jpg) center no-repeat;
  background-size: cover;
  width: 100vw; 
  height: 100%;
}
.hero{
  background: url(../public/hero.jpg) center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.glass {
  background: rgba(255, 255, 255, 0.429);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glass-blur {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* font family classes */
.threed {
  font-family: "Nabla", cursive;
}
.varela {
  font-family: "Varela Round", sans-serif;
}
.bungee {
  font-family: "Bungee", cursive;
}
.spice {
  font-family: "Bungee Spice", cursive;
}
.Josefin {
  font-family: "Josefin Sans", sans-serif;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.icon-parent ul {
  /* display: none; */
  bottom: -150px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.icon-parent:hover ul {
  display: flex;
  justify-content: center;
  bottom: 80px;
}
.icon-parent ul li:hover{
  transform: scale(1.1);
}
.buttons {
  padding: 10px;
}

.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.buttons button:before {
  content: "\f144";
  font-family: "Font Awesome 6 Free";
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
  content: "\f144";
}

.buttons button.pause:before {
  content: "\f28b";
}

.buttons button.mute:before {
  content: "\f144";
}

.buttons button.unmute:before {
  content: "\f28b";
}

.red-bar {
  height: 5px;
  top: 0;
  left: 0;
  width: 100%;
  background: #f9f9f9;
}

.red {
  height: 5px;
  width: 100px;
  background-color: red;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.container {
  position: relative;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  max-width: 2560px;
  text-align: center;
  z-index: 1;
}
.container .card {
  position: relative;
  width: 280px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(0px);
}

.container .card .content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

::selection {
  color: #fff;
  background: #0d6efd;
}
.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.429);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form {
  margin: 35px 30px;
}
.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.field input::placeholder,
.message textarea::placeholder {
  color: #ccc;
}
.field input:focus,
.message textarea:focus {
  border: 2px solid #0d6efd;
}
form .message {
  position: relative;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 12px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
.message textarea:focus {
  padding-top: 14px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  font-family: ubuntu;
  padding: 13px 25px;
  background: #0d6efd;
  transition: background 0.3s ease;
}
.button-area button:hover {
  background: #025ce3;
}
.button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
.bus-service .image-of-bus {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .c-video {
    max-width: 300px;
  }
}
@media only screen and (max-width: 600px) {
	.bus-service{
		background: url('./../public/bus\ -\ Copy.jpg') center;
		height: 100px;
		background-size: cover;
		padding: 10px;
	}
  .bus-service .image-of-bus {
    visibility: hidden;
  }
  .bus-service h1 {
    position: absolute;
	color: white;
	font-size: 1em;
  }
  .wrapper header {
    text-align: center;
  }
  .wrapper form {
    margin: 35px 20px;
  }
  form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea {
    resize: none;
  }
  form .button-area {

    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}
.linear-gradient-contact-vala {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
.linear-gradient-card-vala {
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
}
.fas {
  width: 32px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "El Messiri", sans-serif;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.box {
  position: relative;
}
.box .square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  animation: square 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes square {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}
.box .square:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -15px;
  right: -45px;
}
.box .square:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 105px;
  left: -125px;
  z-index: 2;
}
.box .square:nth-child(3) {
  width: 60px;
  height: 60px;
  bottom: 85px;
  right: -45px;
  z-index: 2;
}
.box .square:nth-child(4) {
  width: 50px;
  height: 50px;
  bottom: 35px;
  left: -95px;
}
.box .square:nth-child(5) {
  width: 50px;
  height: 50px;
  top: -15px;
  left: -25px;
}
.box .square:nth-child(6) {
  width: 85px;
  height: 85px;
  top: 165px;
  right: -155px;
  z-index: 2;
}
.container {
  position: relative;
  padding: 50px;
  width: 100%;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}
.container::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 2%
  );
}

.gradient-image {
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
