@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Nabla&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: #d9afd9;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.hero{
  background: url(../public/hero.jpg) center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.glass {
  background: rgba(255, 255, 255, 0.429);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glass-blur {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* font family classes */
.threed {
  font-family: "Nabla", cursive;
}
.varela {
  font-family: "Varela Round", sans-serif;
}
.bungee {
  font-family: "Bungee", cursive;
}
.spice {
  font-family: "Bungee Spice", cursive;
}
.Josefin {
  font-family: "Josefin Sans", sans-serif;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.icon-parent p {
  display: none;
  cursor: pointer;
}
.icon-parent:hover p {
  display: flex;
  top: -45px;
  justify-content: center;
}

.buttons {
  padding: 10px;
}

.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.buttons button:before {
  content: "\f144";
  font-family: "Font Awesome 6 Free";
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
  content: "\f144";
}

.buttons button.pause:before {
  content: "\f28b";
}

.buttons button.mute:before {
  content: "\f144";
}

.buttons button.unmute:before {
  content: "\f28b";
}

.red-bar {
  height: 5px;
  top: 0;
  left: 0;
  width: 100%;
  background: #f9f9f9;
}

.red {
  height: 5px;
  width: 100px;
  background-color: red;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.container {
  position: relative;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  max-width: 2560px;
  text-align: center;
  z-index: 1;
}
.container .card {
  position: relative;
  width: 280px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(0px);
}

.container .card .content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

::selection {
  color: #fff;
  background: #0d6efd;
}
.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.429);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form {
  margin: 35px 30px;
}
.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form img {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 30px;
  height: 30px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.field input::placeholder,
.message textarea::placeholder {
  color: #ccc;
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #0d6efd;
}
form .message {
  position: relative;
}
form .message img {
  top: 30px;
  font-size: 20px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
.message textarea:focus {
  padding-top: 14px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  font-family: ubuntu;
  padding: 13px 25px;
  background: #0d6efd;
  transition: background 0.3s ease;
}
.button-area button:hover {
  background: #025ce3;
}
.button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
.bus-service .image-of-bus {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .c-video {
    max-width: 300px;
  }
}
@media only screen and (max-width: 600px) {
	.bus-service{
		background: url('./../public/bus\ -\ Copy.jpg') center;
		height: 100px;
		background-size: cover;
		padding: 10px;
	}
  .bus-service .image-of-bus {
    visibility: hidden;
  }
  .bus-service h1 {
    position: absolute;
	color: white;
	font-size: 1em;
  }
  .wrapper header {
    text-align: center;
  }
  .wrapper form {
    margin: 35px 20px;
  }
  form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea {
    resize: none;
  }
  form .button-area {
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}
.linear-gradient-contact-vala {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
.linear-gradient-card-vala {
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
}
.fas {
  width: 32px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "El Messiri", sans-serif;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.box {
  position: relative;
}
.box .square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  animation: square 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes square {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}
.box .square:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -15px;
  right: -45px;
}
.box .square:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 105px;
  left: -125px;
  z-index: 2;
}
.box .square:nth-child(3) {
  width: 60px;
  height: 60px;
  bottom: 85px;
  right: -45px;
  z-index: 2;
}
.box .square:nth-child(4) {
  width: 50px;
  height: 50px;
  bottom: 35px;
  left: -95px;
}
.box .square:nth-child(5) {
  width: 50px;
  height: 50px;
  top: -15px;
  left: -25px;
}
.box .square:nth-child(6) {
  width: 85px;
  height: 85px;
  top: 165px;
  right: -155px;
  z-index: 2;
}
.container {
  position: relative;
  padding: 50px;
  width: 100%;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}
.container::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 2%
  );
}

.gradient-image {
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Fira Code", monospace;
  background-color: #ecf0f1;
  text-align: center;
  margin: auto;
  padding: 4em;
}
.container img {
  width: 256px;
  height: 225px;
}
.container h1 {
  margin-top: 1rem;
  font-size: 35px;
  text-align: center;
}
.container h1 span {
  font-size: 60px;
}
.container p {
  margin-top: 1rem;
}
.container p.info {
  margin-top: 4em;
  font-size: 12px;
}
.container p.info a {
  text-decoration: none;
  color: #5454ce;
}
.submit_button {
  text-align: center;
  margin: 20px;
}
.submit_button button {
  transform: rotate(-15deg) skewX(40deg);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 25px;
  color: #fff;
  background: #616161;
  letter-spacing: 5px;
  transition: 0.5s;
}
.submit_button button:hover {
  background: #f44336;
}
.submit_button button span {
  position: absolute;
  transition: 0.5s;
}
.submit_button button span:nth-child(1) {
  top: 0;
  left: -30px;
  width: 30px;
  height: 100%;
  transform-origin: right;
  transform: skewY(-45deg);
  background: #4f4e4e;
}
.submit_button button:hover span:nth-child(1) {
  background: #b43329;
}
.submit_button button span:nth-child(2) {
  left: 0;
  bottom: -30px;
  height: 30px;
  width: 100%;
  transform-origin: top;
  transform: skewX(-45deg);
  background: #3c3a3a;
}
.submit_button button:hover span:nth-child(2) {
  background: #892d26;
}

.submit_button button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.submit_button button:hover::before {
  top: -30px;
  left: 30px;
}
.submit_button button:hover::after {
  top: -60px;
  left: 60px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
